<!DOCTYPE html>
<html>
  <head>
    <title>RspecCapybara</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if user_signed_in? %>
  	<%= link_to "SignOut", destroy_user_session_path, method: :delete %>
  	<% else %>
  	<%= link_to "SignIn", new_user_session_path %>
  	<% end %>
  	<%= link_to "SignUp", new_user_registration_path %>

  	<div>
  		<%= link_to "Profiles", profiles_path %>
  	</div>
  	
    <%= yield %>
  </body>
</html>
